*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.bg-img{
    background: url(../imagenes/portada.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.bg-img:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
}
.contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 999;
    padding: 60px 32px;
    width: 370px;
    background: rgba(0,0,0,0.6);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.4);
    font-family: 'Montserrat', sans-serif;
}
.titulo {
   text-align: center;
   color: white;
   font-size: 10px;
   font-weight: 300;
   margin: 0 0 35px 0;
   font-family: 'Montserrat';
}

.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255,255,255,0.94);
}
.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
}

.contraseña{
    margin-top: 16px;
}
.pass{
    text-align: left;
    margin: 15px 0;
    font-size: 18px;
}
.pass a{
    color: white;
    text-decoration: none;
}

.pass:hover a{
    text-decoration: underline;
}

.ingresar{
    border-radius: 100px;
}
.ingresar input{
    background: rgb(250,50,50);
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 100px;
}
.ingresar:hover input{
    background: rgb(250,40,50);
    
}
.field img{
    width: 25px;
    height: 25px;
    margin: 8px;
}
.titulo-nav{
    background: red;
}

.regis{
    padding-top: 16px;
}
.regis a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.regis a:hover{
    text-decoration: underline;
}




